#divGloGame{
    display: flex;
    width: 60vw;
    gap: 10px;
    height: 75vh;
    background-image: url("../../assets/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position-y: 150px;
    background-position-x: center;
    background-size: 200px;
    justify-self: center;
}

#divGloBtn{
    display: flex;

}

.divBtnBrder{
    display: flex;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
}

#divBtnPaper{
    background-color: white;
    border-radius: 50%;
    padding: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-top: 5px solid rgb(192, 192, 192);
}

#divBtnRock{
    background-color: white;
    border-radius: 50%;
    padding: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-top: 5px solid rgb(192, 192, 192);

}

#divBtnScissor{
    background-color: white;
    border-top: 5px solid rgb(192, 192, 192);
    border-radius: 50%;
    padding: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}