.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  display: flex;
  font-family: "Barlow Semi Condensed", sans-serif;
  width: 98vw;
  height: 99vh;
  background: radial-gradient( hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  justify-content: center;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 20px;
}
